# IntelliJ
.idea/
*.iml
*.iws

# Eclipse
*.classpath
*.project
*.settings/

# VS Code
.vscode/

# Maven
target/
.mvn/wrapper/maven-wrapper.jar

# Gradle (if applicable)
build/

# Spring Boot sensitive files
src/main/resources/application.properties
src/main/resources/application.yml

# OS-specific
.DS_Store
Thumbs.db

# Ignore properties with secrets
/src/main/resources/application.properties